@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* TODO: Require changes to adapt to mobile view */

.App {
  text-align: center;
}

/* Header */
.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.medias {
  position: absolute;

  /* TODO: collapse list into a menu after minimizing it */
  right: 100px;
}

.media-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 10px 0;
}

.hide_overflow {
  overflow: hidden;
}

@keyframes slide-in {
  from {
    transform: translateY(100px);;
  }
  to{
    transform: translateY(0px);;
  }
}

.name {
  font-family: 'Sacramento', cursive;
  font-size: 96px;
  font-weight: 400;
  /* display: flex; */
  align-items: center;
  letter-spacing: -0.017em;
  margin: 0;
  animation: slide-in 1s;
}

.desc {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  display: flex;
  align-items: center;
  letter-spacing: -0.017em;
  color: #000000;
  margin: 0;
  animation: slide-in 3s
}

@keyframes spin-icon{
  100%{
    transform:rotate(360deg);
  }
}

.icon:hover {
  background-color: black;
  color: white;
  animation: spin-icon 0.5s linear;

  padding: 2px;
  border-radius: 100%;
}

a {
  text-decoration: none;
  color: inherit;

}

/* Header End */
