@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* TODO: Require changes to adapt to mobile view */
.App {
  overflow: hidden;
}

/* Header */
.App-header {
  background-color: #ffffff;
  min-height: 110vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  text-align: center;
}

.medias {
  position: absolute;

  /* TODO: collapse list into a menu after minimizing it */
  right: 100px;
}

.media-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 10px 0;
}

.hide_overflow {
  overflow: hidden;
}

@keyframes slide-in {
  from {
    transform: translateY(100px);;
  }
  to{
    transform: translateY(0px);;
  }
}

.name {
  font-family: 'Sacramento', cursive;
  font-size: 96px;
  font-weight: 400;
  align-items: center;
  letter-spacing: -0.017em;
  margin: 0;
  animation: slide-in 1s;
}

.desc {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  display: flex;
  align-items: center;
  letter-spacing: -0.017em;
  color: #000000;
  margin: 0;
  animation: slide-in 3s;
}

@keyframes spin-icon{
  100%{
    transform:rotate(360deg);
  }
}

.media-icon {
  transition: background-color 0.5s ease;
}

.media-icon:hover {
  background-color: black;
  color: white;
  animation: spin-icon 0.5s linear;

  padding: 2px;
  border-radius: 100%;
}

.medias a {
  text-decoration: none;
  color: inherit;
}

/* Header End */

/* About me */
/* TODO: Use styled components */
/* TODO: Increase height to take up whole screen */
#about-me {
  height: 80vh;
  width: 100%;
  position: relative;
  /* overflow: hidden; */
}

.about-me-title {
  position: absolute;
  width: 100%;
  height: 136px;
  right: 102px;
  /* top: 355px; */
  margin:auto;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 200px;
  line-height: 155px;
  display: flex;
  align-items: center;
  letter-spacing: -0.017em;

  color: rgba(0, 0, 0, 0.1);
}

.about-me-text {
  display: inline-block;
  z-index: 1;
}

.about-me-desc {
  /* Junior Engineer with a passion for design and manifesting ideas into reality ! */
  width: 662px;
  height: 88px;
  margin-left: 30%;
  top: 379px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  display: flex;
  align-items: center;
  letter-spacing: -0.017em;

  color: #000000;
}

/* TODO: This is going to be used my multiple component. Name of class WILL be changed */
.animateAboutMe {
  animation: animate-about-me 3s;
  animation-fill-mode: forwards;
}

/* TODO: animate slide on scroll and base on where you are on the page. */
@keyframes animate-about-me {
  0% {
    transform: translateX(0px);
  }
  100% {
      transform: translateX(300px);
  }
}

/* About me End */

/* Skills */
/* Skills css is using styled component. See Skillbar.js */


/* Timeline */
/* https://www.youtube.com/watch?v=tcUVUBlyXX8 */
.timeline-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 40px 0;
  background-color: #fff;
}

/* Vertical line */
.timeline-container::after {
  background-color: red;
  content: '';
  position: absolute;
  width: 4px;
  height: 100%;
  left: calc(50% - 2px)
}

.timeline-item {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  margin: 10px 0;
  width: 50%;
}

.timeline-image {
  display: flex;
  justify-content: flex-start;
  width: 50%;
}

.timeline-item-content {
  background-color: #fff;
  position: relative;
  border-radius: 5px;
  display: flex;
  max-width: 70%;
  width: 400px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 15px;
  text-align: right;
}

/* *** Unused but should look into in the future ***  */
/* .timeline-item:nth-child(odd) .timeline-item-content {
  align-items: flex-start;
  text-align: left;
} */

/* roted box for speech bubble effect */
/* .timeline-item:nth-child(odd) .timeline-item-content::after {
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.3);
  right: auto;
  left: -7.5px;
} */

/* container item e.g box */
/* pattern */
/* .timeline-item:nth-child(odd) {
  align-self: flex-end;
  justify-content: flex-start;
  padding-right: 0px;
  padding-left: 30px;
} */

/* .timeline-item:nth-child(odd) .timeline-item-content .circle {
  right: auto;
  left: -40px;
} */

/* left box angle */
/* why not use flex box ? */
.timeline-item-content::after {
  content: ' ';
  background-color: #fff;
  box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.3);
  position: absolute;
  transform: rotate(45deg);
  right: -7.5px;
  top: calc(50% - 7.5px);
  width: 15px;
  height: 15px;
}

.timeline-container .circle {
  background-color: #fff;
  border: 3px solid crimson;
  border-radius: 50%;
  position: absolute;
  bottom: calc(50% - 10px);
  width: 20px;
  height: 20px;
  z-index: 100;
  right: -52px;
}

.timeline-col {
  display: flex;
  justify-content: flex-end;
}

.timeline-image-col {
  display: flex;
  align-items: center;
}

@keyframes image-slide {
  from {
    transform: translateX(1000px);
  }
  to{
    transform: translateX(0px);
  }
}

.story-image {
  max-height: 250px;
  max-width: 400px;
  margin-left: 30px;
  animation: image-slide 1.5s;
}

/* Timeline end */
